/* Global Styles */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background-color: green;
    background-image: url(images/table.png);
    background-size: cover;
}

button {
    cursor: pointer;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 85%;
    max-width: 650px;
    margin: 0 auto;
    height: calc(100vh - 55px);
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.disabled {
    cursor: not-allowed;
}

/* Header Styles */
header {
    height: 55px;
    background-color: rgb(0, 59, 136);
}

header > p {
    margin: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
}

/* Cards Styles */

.message {
    font-size: 1.2rem;
    margin: 0.1em 0;
}

.cards-container {
    height: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    width: 70px;
    aspect-ratio: 5 / 7;
    border: 1px solid #777777;
    border-radius: 5px;
}

.card > img {
    height: 100%;
}

.card + .card {
    margin-left: -40px;
}

.dealer,
.player {
    position: relative;
}

.card-total {
    font-size: 1.5rem;
    color: rgb(0, 217, 255);
    text-transform: uppercase;
    position: absolute;
    right: calc(100% + 1em);
    top: 0;
}

/* Game actions */
.play-options {
    flex-direction: column;
}

.options {
    margin: 0.75em 0;
}

.btn {
    color: #FFFFFF;
    padding: 0.25em 1em;
    background-color: rgb(0, 59, 136);
    border: 1px solid #FFFFFF;
    border-radius: 3em;
    transition: background-color 100ms ease-out;
}

.btn + .btn {
    margin-left: 0.5em;
}

.btn:active {
    background-color: rgb(15, 100, 211);
}

/* Betting Buttons */
.bet {
    width: 75%;
    height: 35px;
    max-width: 500px;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    color: #FFFFFF;
    background-color: rgb(43, 110, 255);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bet > * {
    flex: 1;
    font-size: 1.75rem;
}

.btn-bet-option {
    height: 100%;
    aspect-ratio: 1;
    border: 0;
    color: #FFFFFF;
    background-color: rgb(43, 110, 255);
    transition: background-color 100ms ease-out;
}

.btn-bet-option:active {
    background-color: rgb(0, 59, 136);
}

.btn-bet-option:nth-of-type(1) {
    border-top-left-radius: 5em;
}
.btn-bet-option:nth-of-type(2) {
    border-top-right-radius: 5em;
}

.bet-amount {
    height: 100%;
    text-align: center;
    background-color: rgb(0, 59, 136);
}